# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Editor/IDE directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project
.classpath

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node (Just in case anything is added later)
node_modules/
dist/
.env
.env.local

# Temp files
tmp/
temp/
